.background {
    background-color: rgb(233, 233, 235);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:rgb(165, 164, 170);
    overflow: hidden;
}



  