.contact:hover {
    transform: scale(1.1);
}

.contact {
    transition: transform 0.2s;
    justify-content: space-between;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 0.3rem;
}

.label {
    cursor: pointer;
}